@import '../../../styles/_mixins';
@import '../../../styles/_components';

.day-view-inside {
  background-color: var(--gs-50);
  border: 1px solid var(--gs-200);
  border-radius: 4px;
  position: relative;
}

@include days-component;

.day-hour-rows {
  z-index: 10;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(24, 60px);

  &:not(:last-child) {
    border-bottom: 1px solid var(--gs-200);
  }

  &__border-bottom {
    position: absolute;
    width: 100%;

    &-line {
      width: 100%;
      height: 60px;
      border-top: 1px solid var(--gs-200);
    }

    &-hour-unit {
      position: relative;
      cursor: default;
      height: 0px;
      left: -35px;
      top: -13px;
      color: var(--gs-600);
      font-size: 10px;
    }
  }

  &__items {
    display: grid;
    grid-template-rows: repeat(1440, minmax(1px, auto));
    grid-auto-flow: dense;
  }
}

.day-header {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  
  &__number-color-dot {
    display: flex;
    align-items: center;
    position: relative;
  }
  @include number;
  @include color-dot;

}

@include current-minute-line;