@import '../../../styles/_mixins';
@import '../../../styles/_components';

.week-time-view-inside {
  background-color: var(--gs-50);
  border: 1px solid var(--gs-200);
  border-radius: 4px;
  position: relative;
}

@include days-component;
@include vertical-borders-container;
  
.week-time-week {
  z-index: 10;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(24, 60px);

  &:not(:last-child) {
    border-bottom: 1px solid var(--gs-200);
  }

  &__cover {
    position: relative;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(25, 60px);
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__column {
    display: grid;
    grid-template-rows: repeat(1440, minmax(1px, auto));
    grid-auto-flow: dense;
  }

  &__border-bottom {
    position: absolute;
    width: 100%;

    &-row {
      width: 100%;
      height: 60px;
      border-top: 1px solid var(--gs-200);
    }
    &-hour-unit {
      position: relative;
      cursor: default;
      height: 0px;
      left: -35px;
      top: -13px;
      color: var(--gs-600);
      font-size: 10px;
    }
  }
}

.week-time-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  
  &--item {
    width: 100%;
    position: relative;
  }

  @include number;

  @include color-dot;
}

@include current-minute-line;